* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family:
        FontAwesome,
        Material Design Icons;
    /* sans-serif;
        // Roboto,
        // Helvetica,
        // Arial;
        */
    font-size: 14px;
}

window#waybar {
    background-color: #181825;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    all: initial; /* Remove GTK theme values (waybar #1351) */
    min-width: 0; /* Fix weird spacing in materia (waybar #450) */
    box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
    padding: 6px 18px;
    margin: 6px 3px;
    border-radius: 4px;
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#workspaces button.active {
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

button,
#cpu,
#memory,
#custom-power,
#custom-nightmode,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#mpd,
#mpris,
#idle_inhibitor,
#tray,
#custom-notification {
    border-radius: 13px;
    margin: 6px 4px;
    padding: 8px 12px;
    background-color: white;
    color: black;
    min-width: 20px;
    min-height: 20px;
}

#tray {
    background-color: black;
}

#custom-notification {
    color: white;
    background-color: black;
}

#custom-nightmode {
    background-color: #412983;
    color: #ffffff;
}

#custom-nightmode#active {
    background-color: #212983;
    color: #00ffff;
}

#custom-logo {
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 8px 0px 0px 8px;
    color: #1793d1;
}

#memory {
    background-color: #fab387;
}
#battery {
    background-color: #f38ba8;
}
@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #181825;
    }
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ff0048;
    color: #181825;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    background-color: #a6e3a1;
}

#mpris {
    background-color: #303030;
    color: #cacaca;
    min-height: 30px;
    border-radius: 13px;
    margin: 6px 6px;
    padding: 8px 8px;
}

#backlight {
    background-color: #fab387;
}

#pulseaudio {
    background-color: #f9e2af;
}

#network {
    background-color: #94e2d5;
    padding-right: 17px;
}

#clock {
    background-color: #cba6f7;
}

#custom-power {
    background-color: #f2cdcd;
}

tooltip {
    border-radius: 8px;
    padding: 15px;
    background-color: #131822;
}

tooltip label {
    padding: 5px;
    background-color: #131822;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#idle_inhibitor {
    background-color: #3d4456;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
